@{
    Layout = "_LandingLayout";
}



<div class="login-page">
    <section>
        <div class="container vertical-center">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-5">
                    <div class="u-shadow-v15 g-bg-white rounded g-py-40 g-px-30">
                        <header class="text-center mb-4">
                            @*<h2 class="h2 g-color-black g-font-weight-600">Login</h2>*@
                            <img src="~/images/logo.png" width="200" />
                        </header>
                        If a matching account was found an email was sent to you to reset your password.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>