/* Add here all your css styles (customizations) */

@media (min-width: 0){
    .g-py-100 {
        padding-top: 7.14286rem !important;
        padding-bottom: 24.14286rem !important;
    }
}


/***********Login Page Landing Start ******/

@media only screen and (min-width: 768px) {

    .login-left-dv {
        background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), rgba(0,0,0,0.55) url('../img-temp/900x900/img4.jpg') no-repeat center;
        background-size: cover;
        color: #fff;
        text-align: center;
        text-rendering: optimizeLegibility;
        margin: 0;
        height: 95%;
        width: 100%;
        min-height: 100vh;
    }

    .login-panel-area {
        float: right;
        right: 25%;
    }
}

.vertical-center {
    margin-top: 8%;
}



/***********Login Page Landing End ******/