.main-container {
  margin-top: 77px;
  margin-left: 200px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0 !important;
    z-index: 10;
  }
}
